html, body {scroll-behavior:smooth;}
header {position:fixed; left:0; top:0; padding:50px; width:100%;}
header h1 {font-size:2rem; font-weight:700;}
header nav {}
header nav a {padding:10px; display:inline-block;  color:#222;}
header nav a:hover {border-bottom:2px solid #222;}
main {}
main .bg {
    width:100%; height:100vh;
    background-size:cover; background-position:center;
}
main .interior1 {background-image:url(../images/bg1.jpg);}
main .interior2 {background-image:url(../images/bg2.jpg);}
main .interior3 {background-image:url(../images/bg3.jpg);}
main .interior4 {background-image:url(../images/bg4.jpg);}
.link {
    display:flex; flex-flow:column wrap;
    position:fixed; left:50px; top:50%; transform:translateY(-50%);
}
.link a {
    width:20px; height:2px; margin-bottom:10px; background:#222;
    transition: width 0.5s;
}
.link a.active {width:100px; background:#fff;}
/* 마우스효과 */
.circle {
    width:50px; height:50px;
    border:2px solid #fff;
    border-radius:50%;
    position:fixed;
    transform:translate(-50%, -50%);
    pointer-events:none; /* 포인트 이벤트되는 것을 막아줌 - 미설정시 클릭이 불가능하다 */
    /* transition:all 0.3s; 환경에 따라 렉걸릴 수 있으므로 안쓰는걸 추천 */
}