/* header */
header {}
header .top {
    width:1151px; height:48px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
}
header .top nav {}
header .top nav a {font-size:0.875rem; margin-right:16px;}
header .top nav a:last-child {margin-right:0;}
header .top nav img {}
/* header .top nav > a {font-size:0.875rem; margin-right:16px;}
header .top nav > a:last-child {margin-right:0;} */
/* header-top */
header .top .lnb {}
header .top .lnb a {font-size:0.875rem; margin-left:16px;}
header .top .lnb a:first-child {margin-left:0;}
/* header-bottom */
header .bottom {
    width:1151px; height:119px; margin:0 auto;
    /* h1, searchFrm, right 정렬 대상의 부모 flex 대상 */
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 img {}
header .bottom #searchFrm {}
header .bottom #searchFrm fieldset {
    background-color:#fff;
    width:370px; height:47px;
    border:4px solid #1e6cb3;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
    align-items:center; padding:0 13px 0 21px;
}
header .bottom #searchFrm fieldset .user_search {
    width:300px; outline:none;
}
header .bottom #searchFrm fieldset .user_search::placeholder {color:#1e6cb3;
}
header .bottom #searchFrm fieldset #search_btn {
    width:24px; height:24px;
}
header .bottom #searchFrm fieldset #search_btn img {}
header .bottom .right {}
header .bottom .right #lang_frm {float:right;}
header .bottom .right #lang_frm fieldset {}
header .bottom .right #lang_frm fieldset #lang_sele {
    background-color:#fff;
    width:98px; height:28px; margin-right:7px;
    border:1px solid #1e6cb3; font-size:0.8125rem;
}
header .bottom .right #lang_frm fieldset #lang_sele option {}
header .bottom .right #lang_frm fieldset #go_btn {
    background-color:#1e6cb3;
    color:#fff;
    width:28px; height:28px;
    font-size:0.8125rem;
}
header .bottom .right .weather {clear:both;}
header .bottom .right .weather .current_weather {
    font-size: 1.5rem; font-weight:700;
    letter-spacing:-0.48px; padding:5px 0;
}
header .bottom .right .weather p {
    font-size:0.8125rem;
}
/* main1행 */
main {}
/* > * 은 main의 모든 자식들을 선택한것. 자손은 선택X */
main > * {width:1151px; margin:0 auto;}
/* main1행-banner */
main .visual {
    background-color:yellow;
    display:flex; justify-content:space-between;
}
main .visual .left {
    background-color:pink; width:770px;
    position:relative;
}
main .visual .left a {}
main .visual .left a img {}
main .visual .left .close {
    background-color:#1e6cb3; color:#fff;
    font-size:0.813rem;
    padding:5px 9px;
    border-radius: 5px;
    display:inline-block;
    position:absolute; right:15px; bottom:15px;
}
/* main1행-right(코로나, 교통정보) */
main .visual .right {background-color:lime; width:360px;}
/* relative(부모) 설정해줄때 인라인이면 적용이 안되므로 꼭 block태그로 바꿔주기 */
main .visual .right .corona {position:relative; display:block;}
main .visual .right .corona img {}
main .visual .right .corona .date {
    /* background-color:tomato; */
    font-size:0.8125rem;
    display:inline-block;
    position:absolute; right:20px; top:14px;
}
main .visual .right .corona .data {
    /* background-color:midnightblue; */
    color:#fff; font-weight:400;
    display:inline-block;
    text-align:center;
    font-size:0.8125rem;
}
main .visual .right .corona .data:nth-child(3) {
    position:absolute; left:30px; top:84px;
    width:140px;
} /* 확진자 */
main .visual .right .corona .data:nth-child(4) {
    position:absolute; right:30px; top:84px;
    width:140px;
} /* 추가확진자 */
main .visual .right .corona .data:nth-child(5) {
    position:absolute; left:30px; bottom:58px;
    width:94px;
} /* 퇴원 */
main .visual .right .corona .data:nth-child(6) {
    position:absolute; right:121px; bottom:58px;
    width:94px;
} /* 추가퇴원 */
main .visual .right .corona .data:nth-child(7) {
    position:absolute; right:32px; bottom:58px;
    width:59px;
} /* 사망 */
main .visual .right .traffic {}
main .visual .right .traffic img {}
/* main2행-주요서비스 */
main .service {}
main .service .title {
    background-color:orange;
    display:flex; flex-basis:row nowrap;
    justify-content:space-between;
    padding:15px 0;
}
main .service .title h1 {
    font-size:1.5rem;
    font-weight:700;
}
main .service .title .site {
    border:1px solid #aaa;
    padding:3px 11px;
}
main .service .content {
    background-color:aquamarine;
    display:flex; flex-flow:row nowrap;
}
main .service .content a {
    display:flex; /* a한테 disply:flex를 적용하면 display:block을 쓴 것과 같은 의미로 적용된다. */
    flex-flow:column nowrap;
    width:9.09%; text-align:center;
}
main .service .content a img {width:60px; margin:0 auto;}
main .service .content a span {font-size:0.813rem;}
/* main3행-배너3 */
main .bnr_bg {
    background-color:#eff4f8;
    width:1920px;
}
main .bnr_bg .bnr {
    width:1151px; margin:0 auto;
    display:flex;
}
main .bnr_bg .bnr a {display:block;}
main .bnr_bg .bnr a img {}
/* main4행-게시판 */
/* main4행-게시판-이벤트신청 */
/* main4행-게시판-이달행사축제 */
/* main4행-게시판-서비스 */
/* main5행-분야정보 */
/* main6행-새소식 */
/* footer */
footer {
    width:1151px; margin:0 auto;
}
/* footer-1행 */
footer .top {
    height:67px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
footer .top .menu {padding:22px 0;}
footer .top .menu a {padding-right:16px;}
footer .top .menu a:last-child {padding-right:0;}
footer .top .menu a em {font-weight:500;}
footer .top .sns {}
footer .top .sns a {
    background-image:url(../images/icon_sns2/icon_set3.png);
    background-repeat:no-repeat;
    width:25px; height:25px; text-indent:-9999px;
    display:inline-block;
    margin-left:16px;
}
footer .top .sns a:nth-child(1) { margin-left:0}
footer .top .sns a:nth-child(2) {background-position-x:-25px;}
footer .top .sns a:nth-child(3) {background-position-x:-50px;}
footer .top .sns a:nth-child(4) {background-position-x:-75px;}
footer .top .sns a:nth-child(5) {background-position-x:-100px;}
footer .top .sns a:nth-child(6) {background-position-x:-125px;}
/* 선택자:hover {} -> 마우스 올렸을 때 이미지를 보일 수 있게 해줌*/
footer .top .sns a:hover {background-position-y:-25px;}
/* footer-2행 */
footer .bottom {
    height:105px;
    display:flex;
    justify-content:space-between;
    align-items:center;}
footer .bottom .left {}
footer .bottom .left p {display:inline-block;}
footer .bottom .left p img {}
footer .bottom .left address {
    display:inline-block;
    margin:24px;
    font-size:0.813rem;
}
footer .bottom .banner {}
footer .bottom .banner a {}
footer .bottom .banner a img {margin-left:16px;}